body {
  padding-top: 100px;
}

.thumbnail {
  max-height: 250px;
  max-width: 400px;
}

.jumbotron {
  margin-top: 50px;
  color: rgb(130,185, 59);
  background: rgb(50,50,50);
}

.green :hover {
  background-color: rgb(130,185, 59)
}
