

html, body {
  background: url(img/dartbgimage1.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container{
}


.dartlogo_opacity{
  opacity: .75;
  /* margin-top: 30px;
  margin-left: 30px; */
}

.mainlanding {
  background-color: transparent;
  width 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 50px;
  text-align: center;
}
.mainlanding p{
  font-size: 3em;
  color: white;
  text-shadow: 2px 2px rgb(1, 27, 0)
}

.info p {
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  background-color: rgba(1, 34, 10, .6);
  color: white;
  padding: 30px;
  font-size: 1.5em;
  margin-top: 50px;
  font-family: Francois One;
  border-radius: 50px;
  /* border: 3px solid rgb(1, 34, 10); */
}

.buttons {
  padding-top: 10px;
  text-align: center;
}

.btn {
  border-radius: 5px;
  padding: 5px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 10px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.green {
  background-color: rgba(1, 34, 10, .6);
  box-shadow: 0px 5px 0px 0px rgba(1, 34, 10, .9);
}

.green:hover {
  color:white;
  background-color: rgba(1, 34, 10, .9);
}


section#about {
    /* background-image: url("../img/aboutbgimage1.jpg"); */
    border-top: 2.5px dotted;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left:0px;
    color: white;
    /* background-color: #005917 */
    /* text-shadow: 2px 2px #1c1c1c; */
  }
  #about p {
    font-size: 2em;
    color: rgb(242, 255, 237);
    /* text-shadow: 2px 2px #cdcdcd; */
    background-color: rgba(1, 34, 10, .8);
    text-align: left;
    padding: 15px;
    border-radius: 5px;
  }



.header_section h2 {
  font-size: 4em;
  color: white;
  text-shadow: 2px 2px rgb(1, 27, 0);
  /* float:left; */
}

.header_section h3 {
  font-size: 2em;
  color: white;
  text-shadow: 2px 2px rgb(1, 27, 0)
}

.about_p{
  font-size:1.25em;
}

.gallery h2 {
  font-size: 4em;
  color: white;
  text-shadow: 2px 2px rgb(1, 27, 0)
}

.services{
  text-align: center;
}
.btn-default{
  background-color: rgba(1, 34, 10,1);
  width: 300;
  height: 50;
  font-size: 2em;
  border-radius: 15px;
}

.btn a{
  color: black;
  text-decoration: none;
}

.btn .btn-default .btn-lg :hover{
background-color: none;
}


footer{
  font-size: 1.5em;
  height: 60px;
  width: 100%;
  background-color: rgba(78, 78, 78, 0.8);
  color: white;
  line-height: 1.6;
  position: absolute;
}

.contact_footer li{
  margin-top: 10px;
  display: inline;
  float:left;
  line-height: 1.6;
  letter-spacing: 2px;
  font-size: 3em;
  padding-right: 50px;
  text-decoration: none;
  list-style: none;
  font-size: 1em;
}

.contact_footer a{
  text-decoration: none;
  color: white;
}

.socialmedia li{
  /* margin-top: 5px; */
  filter: invert(100%);
  display: inline;
  float:right;
  line-height: 1.6;
  letter-spacing: 2px;
  font-size: 3em;
  padding-right: 20px;
  text-decoration: none;
  list-style: none;
  font-size: 1em;
  }

  @media (max-width:600px) {

    .mainlanding p{
      font-size: 1em;
      color: white;
      text-shadow: 1px 1px rgb(1, 27, 0)
    }
    .info p{
      font-size: 1em;
      padding: 10px;
      background-color: rgba(1, 34, 10, .6);
      border-radius: 10px

    }

     .about_p{
      font-size: .8em;
      text-align: left;
      padding: 0px;
    }

  }
