html, body {
  background: url(dartbgimage1.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




.container{

}

.jumbotron{
  font-family: open_sansregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-top: 150px;
  padding-bottom: 10px;
  width: 100%;
  letter-spacing: 3px;
  background-color: rgba(50,50,50);
}

.jumbotron h1{
  color: rgb(130,185,59);
  font-size: 24pt;
  text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 3px;

  font-family: open_sansregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-top: 0px;
  padding-bottom: 10px;
  width: 100%;
  letter-spacing: 3px;
}

.jumbotron p{
  font-size: 12pt;
  text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 3px;
  color: #fff;
  font-family: open_sansregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0px;
  padding-bottom: 10px;
  width: 100%;
  letter-spacing: 3px;
}

h2{
  color: rgb(130, 185, 59);
  font-size: 3em;
  text-align: left;

}
img{
border-radius: 5px;
}

.thumbnail{
  font-family: open_sansregular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(130,185,59);
  text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 3px;
  background-color: rgb(50,50,50);
  height:630px;
  border: none;
}
.thumbnail p{
    color: white;
}

@media(max-width: 640px) {
  .thumbnail{
    height:auto;
  }
}
